<!--The content below is only a placeholder and can be replaced.-->
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" id="nav_brand" onclick="hd.nav('views/landing.html')">HoneyDo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="nav_home" routerLink="dashboard">Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav_groceries" routerLink="groceries">Groceries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav_todo" onclick="hd.nav('views/todo.html')">To-Do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav_chores" onclick="hd.nav('views/chores.html')">Chores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav_chores" onclick="hd.nav('views/chores.html')">Calendar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet style="padding:15px">

</router-outlet>